html {
  overflow-x: hidden;
}
body {
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  font-family: 'Arimo';
  color:#262626;
}
h1,h2,h3,h4,h5,h6 { 
    margin:0px; 
    font-weight:normal; 
    padding:0px;
}
h2 {
  font-size: 60px;
  line-height: 1.33;
  font-weight: bold;
}
.h2 {
  font-size: 60px !important;
  line-height: 1.33 !important;
  font-weight: bold;
}
h3 {
  font-size: 50px;
  line-height: 1.30;
  font-weight: bold;
}
.h3 {
  font-size: 50px !important;
  line-height: 1.30 !important;
  font-weight: bold;
}
h4 {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
}
.h4 {
  font-size: 40px !important;
  line-height: 1.25 !important;
 font-weight: 600 !important; 
}
h5 {
    font-size: 26px;
    line-height: 1.38;
    font-weight: bold;
}

.h5 {
    font-size: 26px !important;
    line-height: 1.38 !important;
    font-weight: bold !important;
}

.bg-green {
    background-color: #B4CD95;
}
h6 {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}
.h6 {
  font-size: 24px !important;
  line-height: 1 !important;
 font-weight: 600 !important; 
}
p { 
    margin:0px; 
    padding:0px; 
    font-weight:normal;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
}
img { 
    border:none;
}
ul { 
    margin:0px; 
    padding:0px;
}
ul li { 
    list-style-type:none;
}
a, a:hover { 
    text-decoration:none;
}

::-moz-selection { 
  color: #fff;
  background: #5E88A2;
}

::selection {
  color: #fff;
  background: #5E88A2;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Bold.woff2') format('woff2'),
        url('../fonts/Arimo-Bold.woff') format('woff'),
        url('../fonts/Arimo-Bold.ttf') format('truetype'),
        url('../fonts/Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Medium.eot');
    src: url('../fonts/Arimo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Medium.woff2') format('woff2'),
        url('../fonts/Arimo-Medium.woff') format('woff'),
        url('../fonts/Arimo-Medium.ttf') format('truetype'),
        url('../fonts/Arimo-Medium.svg#Arimo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-SemiBold.eot');
    src: url('../fonts/Arimo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-SemiBold.woff2') format('woff2'),
        url('../fonts/Arimo-SemiBold.woff') format('woff'),
        url('../fonts/Arimo-SemiBold.ttf') format('truetype'),
        url('../fonts/Arimo-SemiBold.svg#Arimo-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Regular.woff2') format('woff2'),
        url('../fonts/Arimo-Regular.woff') format('woff'),
        url('../fonts/Arimo-Regular.ttf') format('truetype'),
        url('../fonts/Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8q1l01');
  src:  url('../fonts/icomoon.eot?8q1l01#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8q1l01') format('truetype'),
    url('../fonts/icomoon.woff?8q1l01') format('woff'),
    url('../fonts/icomoon.svg?8q1l01#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sc-web {
  opacity: .5;
  position: absolute;
  z-index: -9;
  width: 100%;
}
/*---- Header Start ----*/
#header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  background: #fff;
}
.container-xl {
  max-width:1840px;
  margin:auto;
  padding-left: 0;
  padding-right: 0;
}
#header .row {
  align-items: center;
}

#header.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background: #fff;
    transition:0.3s ease all;
    /*transition: all 0.5s ease;*/
    -webkit-animation:sticky-menu 0.8s forwards;
    -ms-animation:sticky-menu 0.8s forwards;
    -o-animation:sticky-menu 0.8s forwards;
    animation:sticky-menu 0.8s forwards;
    display: initial;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    top: 0;
}
@-webkit-keyframes sticky-menu {
 from {
  top:-50%
 }
 to {
  top:0
 }
}
@keyframes sticky-menu {
 from {
  top:-50%
 }
 to {
  top:0
 }
}
main {
  padding-top: 119px;
}

.backToTop {
  display: inline-block;
  background-color: #5E88A2;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 9999; }
  .backToTop:after {
    content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  .backToTop.active {
    opacity: 1;
    visibility: visible; }
  .backToTop:hover {
    background: #434343; }

.navigation-menu .navbar-nav li,
.footer-menu li {
  margin-right: 21px;
  margin-left: 5px;
  cursor: pointer;
  display: inline;
}
.navigation-menu .navbar-nav li {
  position: relative;
}
.navigation-menu .navbar-nav li:last-child,
.footer-menu li:last-child {
  margin-right: 0;
}
.navigation-menu .navbar-nav li a {
  padding-top: 50px;
  padding-bottom: 50px;
}
.navigation-menu .navbar-nav li a,
.footer-menu li a {
  font-size: 20px;
  color:#5E88A2;
  font-weight: bold;
}
.navigation-menu .navbar-nav li .arrow-down {
  margin-left: 8px;
}
.navigation-menu .navbar-nav li .arrow-down:after {
    width: 10px;
  height: 10px;
  border-right: 2px solid #5E88A2;
  border-bottom: 2px solid #5E88A2;
  position: relative;
  content: " ";
  display: inline-block;
  transform: rotate(45deg);
  top: -4px;
  left: 0;
}
.navigation-menu.navbar {
  padding: 0;
}
.search-box {
  margin-left: 45px;
  position: relative;
}
.search-box input {
  border: 2px solid #B4CD95;
border-radius: 30px;
max-width: 312px;
height: 60px;
font-size: 20px;
color: #000;
font-weight: 500;
padding: 20px 60px 20px 30px;
}
.search-box .search-icon {
  position: absolute;
  right: 26px;
  top: 16px;
}
input:-ms-input-placeholder {
  color: #b4b4b4 !important;
  opacity: 1 !important; }

input::-moz-placeholder {
  color: #b4b4b4 !important;
  opacity: 1 !important; }

input:-moz-placeholder {
  color: #b4b4b4 !important;
  opacity: 1 !important; }

input::-webkit-input-placeholder {
  color: #b4b4b4 !important;
  opacity: 1 !important; }
.search-box .search-icon:before {
font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #B4CD95;
content: "\e904";
font-size: 26px;
cursor: pointer;
font-weight: bold;
}
.search-box .search-icon:hover:before {
  color:#5E88A2;
}
.search-box input:focus {
  outline: none;
}
#header .row .col-xl-11 {
  /*align-items: center;*/
  display: flex;
  justify-content: flex-end;
}
.btn-hope {
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease;
  z-index: 999;
  border-radius: 28px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 32px;
  line-height: 1;
  color:#fff;
  background: #5E88A2;
  display: inline-block;
}

.single-box-home a {
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease;
  z-index: 999;
}
.btn-hope:before,
.single-box-home a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  background-color: #B4CD95;
  transform-origin: left;
  transition: width 0.5s ease;
  z-index: -1;
  overflow: hidden;
}
.btn-hope:hover,
.btn-hope:focus,
.btn-hope:active,
.single-box-home:hover a,
.single-box-home:focus a,
.single-box-home:active a,
.single-box-home:hover a:before {
  color: #fff;
}

.btn-hope:hover:before,
.btn-hope:focus:before,
.btn-hope:active:before,
.single-box-home:hover a:after,
.single-box-home:focus a:after,
.single-box-home:active a:after {
  width: 100%;
}


#header .btn-hope {
  margin-left: 27px;
}
.navigation-menu ul li a:hover,
.footer-menu li a:hover {
  color:#B4CD95;
}
.navigation-menu ul li a:hover ~ .arrow-down:after,
.footer-menu li a:hover ~ .arrow-down:after {
  border-right: 2px solid #B4CD95;
  border-bottom: 2px solid #B4CD95;
}

.navigation-menu ul li > .sub-menu {
  display: none;
}
.navigation-menu .sub-menu {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 4px #eee;
  min-width: 300px;
  z-index: 9;
  padding-right: 0;
  top: 74px;
  left: 0;
  margin: 0;
  max-height: 420px;
  overflow-y: auto;
  z-index: 999;
}
.navigation-menu .sub-menu li {
  border-bottom: 1px solid #f9f9f9;
  position: relative;
  margin: 0 !important;
  display: grid;
  width: 100%;
}
.navigation-menu .sub-menu li a{
  padding: 10px 15px !important;
  width: 100%;
  display: inline-block;
  color: #333 !important;
  font-size: 16px;
}


main {
  
}


/*---- Footer Start ----*/
.footer-inner {
  position: relative;
}
.footer-inner:before {
  /*position: absolute;
  top:200px;
  left: 0;
  content: "";
  width: 100%;
  height: calc(100% - 200px);
  background: rgba(221,232,208,.5);*/
}
.big-text {
  font-size: 210px;
  color: rgba(221,232,208,.37);
  font-weight: bold;
  margin-left: 23px;
  letter-spacing: 10.5px;
  line-height: 1.2;
}
.footer-top {
  background: #B4CD95;
  position: relative;
  padding-top: 138px;
  padding-bottom: 104px;
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -113px;
  margin-right:calc((100% - 1650px) / 2);
}
.footer-top .footer-shape {
  position: absolute;
  top: 43px;
  right: 0;
  width: 300px;
  height: 100%;
  background: #000;
}
.footer-top .container-xl {
  margin-right: 0;
}
.footer-inner-top {
  position: relative;
}
.footer-inner-top::before {
  width: 100%;
  right: 0;
  height: calc(100% - 67px);
  background: #DDE8D0;
  content: "";
  position: absolute;
  top: 67px;
}
.footer-top .row {
  z-index: 999;
  position: relative;
}
.footer-top .left-contact {
  max-width: 535px;
  text-align: left;
  font-size: 30px;
  color: #fff;
  float: right;
  margin-right: 52px;
  line-height: 1.33;
  font-weight: normal;
}
.right-contact {
  padding: 16px 0 0 80px;
}
.right-contact .number-text {
  font-weight: bold;
  font-size: 70px;
  line-height: .71;
  color:#fff;
}
.email-text span {
  font-size: 37px;
  letter-spacing: .74px;
  line-height: 62px;
  color:#fff;
  margin-right: 45px;
}
.email-text a {
  font-size: 40px;
  text-decoration: underline;
  letter-spacing: .8px;
  line-height: 50px;
  color:#fff;
}
.email-text {
  margin-top: 14px;
}
.email-text a:hover,
.right-contact .number-text:hover {
  color:#5E88A2;
}
.email-text span:before,
.email-text span:after {
  position: relative;
  content: "";
  width: 66px;
  height: 2px;
  background: #fff;
  display: inline-block;
  top: -13px;
}
.email-text span:before {
  margin-right: 12px;
}
.email-text span:after {
  margin-left: 12px;
}
.footer-center {
  background: #DDE8D0;
  padding: 35px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color:#434343;
}
.footer-center a {
  color:#434343;
  text-decoration: underline;
}
.footer-center a:hover {
  color:#5E88A2;
}
.footer-bottom {
  max-width: 1510px;
  margin:auto;
  padding-top: 44px;
  padding-bottom: 44px;
}

.social-icon li {
  display: inline-block;
  margin-right: 15px;
}
.social-icon li:last-child {
  margin-right:0;
}
.social-icon li a {
  display: inline-block;
}
.social-icon li a:before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #a1a1a1;
  font-size: 40px;
}
.social-icon li a:hover:before {
  color:#B4CD95;
}
.social-icon li a.fb-icon:before {
  content: "\e900";
}
.social-icon li a.insta-icon:before {
  content: "\e903";
}
.social-icon li a.twitter-icon:before {
  content: "\e905";
}
.social-icon li a.youtube-icon:before {
  content: "\e906";
}
.footer-bottom .row {
  display: flex;
  align-items: center;
}
.footer-menu {
  text-align: right;
}
.footer-menu li {
  margin-left: 0px;
}
.copyright {
  border-top: 1px solid #c7c7c7;
  padding-top: 28px;
  padding-bottom: 28px;
}
.copyright-inner {
  max-width: 1510px;
  margin: auto;
}
.copyright .row {
  display: flex;
  align-items: center;
}
.copyright p span {
  top: 0;
}
.copyright p,
.copyright span {
  color:#A1A1A1;
  font-size: 18px;
  margin-bottom: 0;
}
.copyright span {
  font-weight: 500;
  top: 4px;
  position: relative;
}
.copyright p span {
  top:0;
}
.copyright a img {
  width: 177px;
  margin-left: 12px;
}
/*.footer-3 .footer-bottom {
  padding: 20px 0;
}
.footer-3 .big-text {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}*/
.footer-2 .copyright-inner {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--bs-gutter-x,.75rem);
padding-left: var(--bs-gutter-x,.75rem);
}
.footer-3 .footer-bottom {
background: #DDE8D0;
max-width: 100%;
}
.footer-3 .footer-top .container-xl {
  max-width: 1346px;
  margin-right: 153px;
}
.footer-3 .footer-top .left-contact {
  float: left;
}
.footer-3 .right-contact {
  text-align: right;
  padding-left: 0;
}
.footer-3 .email-text span::before, 
.footer-3 .email-text span::after {
  width: 24px;
}
.footer-3 .footer-top .row .col-md-12:first-child {
  width:45%;
}
.footer-3 .footer-top .row .col-md-12:last-child {
  width:55%;
}
.footer-3 .copyright-inner {
  max-width: 1346px;
  margin-left: auto;
  margin-right: auto;
}
.footer-3 .footer-bottom .row {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
}
/*---- Shape ----*/
.shape-bg {
  position: relative;
}
.shape-bg:before {
  position: absolute;
  width: 100%;
  height: 170px;
  background: #5E88A2;
  content: "";
  transform: skew(0deg,12deg);
  left: 0;
  top: -57px;
}

.shape-right-bg {
  position: relative; 
}

.shape-right-bg:before {
  /*position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,1);
  content: "";
  transform: skew(0deg,-16deg);
  left: -4px;
  top: -67px;*/
}

.tringle-shape {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: #A3BCCE;
}
.tringle-width {
  
}
.mobile-header {
  display: none;
}
.left-trigle-shape {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: rgba(221,232,208,.5);
  width:201px;
  height:218px;
  position: absolute;
  left: 0;
  top: 0;
}
.left-shape-blue {
  clip-path: polygon(0 1%, 100% 11%, 100% 100%, 0% 100%);
  background: #5E88A2;
}
.tringle-green:before {
  width:201px;
  height:217px;
  background: rgba(221,232,208,.2);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

/*---- Inner page global ----*/
.inner-banner {
  width:100%;
  border-radius: 0 0 100px 100px;
}
.container {
  max-width: 1366px;
}

.green-tringle-shape {
  width: 201px;
  height: 217px;
  position: absolute;
  right: 0;
  top: 60px;
  background: rgba(221,232,208,.2);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

@media(min-width:992px){
  .navigation-menu ul > li:hover .sub-menu {
    display: inline-block;
  }
}

@media(max-width:1850px){
   .container-xl {
    max-width:100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-home .tringle-shape {
    width: 190px;
    height: 188px;
    left: -190px;
  }
  .navigation-menu .navbar-nav li, .footer-menu li {
    margin-right: 15px;
    margin-left: 3px;
  }
  .navigation-menu .navbar-nav li a, .footer-menu li a {
    font-size: 18px;
  }
  .search-box {
    margin-left: 25px;
  }
  #header .btn-hope {
    margin-left: 20px;
  }
  .search-box input {
    max-width: 290px;
  }
  h2 {
    font-size: 55px;
  }
  .h2 {
    font-size: 55px !important;
  }
  h3 {
    font-size: 45px;
  }
  .h3 {
    font-size: 45px !important;
  }
  .footer-top {
    margin-right: calc((100% - 1520px) / 2);
    margin-top: -110px;
  }
  .footer-3 .footer-top .container-xl {
    margin-right: 100px;
  }
} 

@media(max-width:1650px){
   .navigation-menu .navbar-nav li a {
    font-size: 15px;
  }
  .search-box input {
    max-width: 235px;
    height: 50px;
    font-size: 18px;
    padding: 20px 55px 20px 25px;
  }
  #header .btn-hope {
    font-size: 18px;
    padding: 16px 22px;
    margin-left: 15px;
  }
  .navigation-menu .navbar-nav li, .footer-menu li {
    margin-right: 6px;
  }
  .search-box {
    margin-left: 15px;
  }
  h3 {
    font-size: 38px;
  }
  .h3 {
    font-size: 38px !important;
  }
  h4 {
    font-size: 34px;
  }
  .h4 {
    font-size: 34px !important;
  }
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 48px;
  }
  .h2 {
    font-size: 48px !important;
  }
  h5 {
        font-size: 21px !important;
    }

    .h5 {
        font-size: 21px !important;
    }
  .big-text {
  font-size: 170px;
}
.footer-top .left-contact {
  max-width: 460px;
  font-size: 25px;
  }
  .right-contact .number-text {
  font-size: 58px;
}
.email-text a,
.email-text span {
  font-size: 30px;
  }
 .email-text span {
    margin-right: 35px;
  }
  .footer-top::after {
  top: -33px;
}
.email-text span::before, .email-text span::after {
  top: -9px;
}
.navigation-menu .sub-menu {
  top:71px;
}
.footer-center {
  padding: 30px 15px;
  font-size: 20px;
  }
.footer-bottom,
.copyright-inner {
  max-width: 90%
}
.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
}
.about-home .tringle-shape {
  width: 102px;
  height: 128px;
  left: -102px;
}
.copyright p, .copyright span {
  font-size: 16px;
}
.search-box .search-icon::before {
  font-size: 22px;
}
.search-box .search-icon {
  top: 13px;
}

.container {
  max-width: 95%;
}
.left-trigle-shape {
  width: 161px;
  height: 178px;
}
.footer-top {
  padding-bottom: 80px;
  margin-top: -90px;
  margin-right: calc((100% - 1230px) / 2);
  padding-top: 115px;
}
.footer-2 .copyright-inner {
  max-width: 95%;
}
.copyright span {
  top: 2px;
}
.green-tringle-shape {
  width: 141px;
  height: 177px;
  }
  .footer-3 .footer-bottom .row,
  .footer-3 .copyright-inner,
  .footer-3 .footer-top .container-xl {
  max-width: 90%;
}
 .footer-3 .footer-top .container-xl {
  margin-right: auto;
}
}
@media(max-width:1365px){
   .navigation-menu.navbar {
    order: 3;
    margin-top: 15px;
  }
  #header .row .col-xl-11 {
    flex-wrap: wrap;
  }
  .navigation-menu .navbar-nav li a, .footer-menu li a {
    font-size: 16px;
  }
  .btn-hope {
    font-size: 18px;
  }
  .navigation-menu .sub-menu {
    top: 39px;
  }
   .h3 {
  font-size: 34px !important;
}
h3 {
  font-size: 34px;
}
#header .btn-hope {
  padding: 16px 30px;
}
.big-text {
  font-size: 150px;
}
.right-contact .number-text {
  font-size: 50px;
}
.footer-top {
  margin-right: 40px;
  margin-top: -80px;
}
.email-text a, .email-text span {
  font-size: 26px;
}
.right-contact {
  padding: 16px 0 0 50px;
}
.footer-top::after {
  top: -27px;
}
.email-text span {
  margin-right: 20px;
}
.inner-banner {
  border-radius: 0 0 80px 80px;
}
.navigation-menu .navbar-nav li .arrow-down::after {
  top: -3px;
}
.footer-center {
  font-size: 18px;
}
.footer-3 .footer-bottom .row, .footer-3 .copyright-inner, .footer-3 .footer-top .container-xl {
  max-width: 98%;
}
.email-text {
  margin-top: 5px;
}
.footer-3 .copyright .row {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}
.backToTop {
  bottom: 80px;
}
}
@media(max-width:1199px){
   .search-box input {
    height: 45px;
  }
  .search-box .search-icon::before {
  font-size: 19px;
}
#header .btn-hope {
  padding: 16px 30px 15px 30px;
  font-size: 16px;
}
.btn-hope {
  font-size: 16px;
}
h2 {
  font-size: 44px;
}
.h2 {
  font-size: 44px !important;
}
.big-text {
  font-size: 110px;
  margin-bottom: 14px;
}
.right-contact {
  padding: 16px 0 0 30px;
}
.footer-top .left-contact {
  max-width: 100%;
  font-size: 22px;
  margin-right: 10px;
}
.footer-top {
  margin-right: 0;
}
.right-contact .number-text {
  font-size: 44px;
}
.email-text a, .email-text span {
  font-size: 23px;
}
.email-text span::before, .email-text span::after {
  width: 50px;
}
.email-text {
  margin-top: 5px;
}
.footer-top {
  padding-bottom: 50px;
  margin-top: -75px;
}
.footer-center {
  padding: 25px 15px;
  font-size: 16px;
}
.footer-bottom, .copyright-inner {
  max-width: 95%;
}
.social-icon li {
  margin-right: 10px;
}
.footer-menu li {
  margin-right: 5px;
}
.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright a img {
  width: 130px;
}
.h4 {
  font-size: 30px !important;
  }
  h4 {
  font-size: 30px;
  }
  .left-trigle-shape {
  width: 141px;
  height: 158px;
}
.inner-banner {
  border-radius: 0 0 70px 70px;
}
.footer-3 .footer-bottom {
  max-width: 100%;
}
.footer-3 .container {
  padding-left: 0;
  padding-right: 0;
}
.h6 {
  font-size: 21px !important;
  }
  h6 {
  font-size: 21px;
}
.green-tringle-shape {
  width: 111px;
  height: 147px;
  top: 40px;
}
}
@media(max-width:991px) {
  p {
  font-size: 16px;
}
   .navigation-menu.navbar {
    margin-top: 0;
    margin-left: 15px;
  }
  #header .row .col-xl-1 {
  text-align: left;
}
.footer-2 .copyright-inner {
  max-width: 98%;
}
.footer-top .left-contact {
  max-width: 460px;
  margin-right: 0;
  margin: auto;
  float: none;
}
.footer-inner .text-end,
.footer-bottom {
  text-align: center !important;
}
.right-contact {
  padding: 36px 0 0 0;
  text-align: center;
}
.footer-menu {
  text-align: center;
  margin-top: 10px;
}
.footer-bottom {
  padding-bottom: 20px;
}
.copyright p, .copyright span {
  font-size: 14px;
}
h2 {
  font-size: 40px;
}
.h2 {
  font-size: 40px !important;
}
 h5 {
    font-size: 20px !important;
}

.h5 {
    font-size: 20px !important;
}
.big-text {
  font-size: 90px;
  margin-bottom: 15px;
}
.mobile-header {
  display: inline-block;
}


.navigation-menu button span {
  width: 25px;
  height: 3px;
  background: #5E88A2 !important;
  margin: 3px 0;
  display: inline-block;
  position: relative;
}
.navigation-menu button span:after, .navigation-menu button span:before {
  width: 30px;
  height: 3px;
  background: #5E88A2;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
}
.navigation-menu button span:before {
      top: -7px;
    }
    .navigation-menu button span:after {
      bottom: -7px;
      width: 20px;
    }
    .navigation-menu .navbar-collapse {
        position: fixed;
        right: 0;
        top: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 9999;
        transition: all ease .7s;
       transform: translateX(100%);
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .open-menu .navigation-menu .navbar-collapse {
        transform: translateX(0%);
    }
    .open-menu.home-header .navigation-menu ul li a {
      color: #282728 !important;
    }
    .navigation-menu.navbar-expand-lg .navbar-nav {
      align-items: flex-start;
    }
    .navigation-menu ul li {
      margin: 0 !important;
      display: inline-block;
      width: 100%;
    }
    .open-menu {
        overflow: hidden;
    }
    .open-menu .navigation-menu ul li a {
      color: #282728 !important;
    }
    .navigation-menu .sub-menu {
      box-shadow: none;
    }
    .open-menu .navigation-menu ul li.current-menu-parent > a,
    .open-menu .navigation-menu ul li a:hover {
      color:#5E88A2 !important;
    }
    .navigation-menu ul li a:hover ~ .arrow-down::after, 
    .navigation-menu ul li.current-menu-parent a ~ .arrow-down::after {
      border-right: 2px solid #B4CD95;
      border-bottom: 2px solid #B4CD95;
  }
    .navigation-menu ul li.contact-btn a {
        width:auto;
        margin: 15px 25px !important;
    }
    .navigation-menu ul li a {
        border-bottom: 1px solid #eee;
        padding: 10px 25px !important;
        display: inline-block;
        width: 100%;
        font-size: 13px;
    }
    .navigation-menu .arrow-down {
      margin-top: 0;
      width: 35px;
      height: 35px;
      position: absolute;
      right: 15px;
      top: 4px;
    }
    .navigation-menu .arrow-down::after {
        position: absolute;
        right: 0;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        top: 5px !important;
    }
    .navigation-menu .change-icon > .arrow-down::after {
      transform: rotate(45deg) !important;
      top: 10px;
    }
    .navigation-menu ul li ul.sub-menu .arrow-down::after {
      top: 7px;
      right: 2px;
    }
    .navigation-menu ul li ul.sub-menu li.change-icon .arrow-down::after {
      top: 3px;
    }
    .mobile-header {
        display: inline-block;
        width: 100%;
        padding: 15px 25px;
    }
    .mobile-header a img {
        width: 60px;
    }
    .navigation-menu .close-icon::after {
      transform: rotate(135deg);
    }
    .navigation-menu .close-icon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 30px;
      right: 20px;
      z-index: 99999;
    }
    .navigation-menu .close-icon::after, .navigation-menu .close-icon::before {
      width: 24px;
      height: 2px;
      background: #5E88A2;
      display: inline-block;
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
    }
    .navigation-menu .close-icon::before {
      transform: rotate(41deg);
    }
     .navigation-menu .arrow-down::after {
    transform: rotate(-45deg) !important;
  }
  .navigation-menu .sub-menu {
  position: relative;
  top: 0;
}
.navigation-menu .navbar-nav li .arrow-down::after {
  left: 10px;
}
.container {
  max-width: 98%;
}
.navigation-menu .sub-menu li a {
  padding: 10px 35px !important;
  }
  .footer-top {
  margin-top: -65px;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}
.footer-3 .right-contact {
  text-align: center;
  }
  .footer-3 .footer-top .left-contact {
  float: none;
   text-align: center;
}
.footer-3 .footer-top .row .col-md-12:first-child,
.footer-3 .footer-top .row .col-md-12:last-child {
  width: 100%;
}
}
@media(max-width:767px) {
  .logo {
    width: 60px;
  }
  main {
  padding-top: 90px;
}
  .search-box input {
    display: none;
  }
   .search-box input {
    font-size: 16px;
   }
   .search-box input {
  max-width: 185px;
  padding: 20px 35px 20px 20px;
}
.btn-hope,
#header .btn-hope {
  font-size: 15px;
}
.big-text {
  font-size: 70px;
  margin-bottom: 25px;
  letter-spacing: 5px;
}
.copyright {
  text-align: center;
}
.copyright .text-end {
  text-align: center !important;
  margin-top: 10px;s
}
h2 {
  font-size: 34px;
}
.h2 {
  font-size: 34px !important;
}
h3 {
  font-size: 32px;
}
.h3 {
  font-size: 32px !important;
}
.navigation-menu .navbar-toggler {
  padding:0;
}
.search-box {
  order:2;
}
#header .btn-hope {
  order: 1;
  margin-right:25px;
  margin-left: 0;
}
.search-box .search-icon {
  right: 5px;
 }
  .h4 {
    font-size: 30px !important;
  }
  h4 {
    font-size: 30px;
  }
  .inner-banner {
    border-radius: 0 0 50px 50px;
  }
  .footer-top {
    margin-top: -64px;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 80px;
  }
  .copyright a img {
    margin-left: 4px;
  }
}
@media(max-width:585px) {
  .big-text {
  font-size: 54px;
  margin-bottom: 26px;
  letter-spacing: 5px;
  margin-left: 0;
}  
/*h2 {
  font-size: 30px;
}
.h2 {
  font-size: 30px !important;
}*/
#header .btn-hope {
  padding: 16px 20px 13px 20px;
  margin-left: 10px;
  }
.search-box input {
  max-width: 170px;
  }
  p {
  /*font-size: 15px;*/
  margin-bottom: 15px;
}
 .h4 {
  font-size: 24px !important;
}
h4 {
  font-size: 24px;
}
.inner-banner {
  border-radius: 0 0 20px 20px;
}
h6 {
  font-size: 19px;
}
.h6 {
  font-size: 19px !important;
}
.footer-top {
  margin-top: -52px;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}
.green-tringle-shape {
  display: none;
}
.legency-inner-contain {
  padding-top: 40px;
}
.right-contact {
  padding: 30px 0 0 0;
  }
}
@media(max-width:479px) {
  main {
    padding-top: 98px;
  }
  .footer-top .left-contact {
  font-size: 18px;
}
.right-contact .number-text {
  font-size: 32px;
}
.email-text a, .email-text span {
  font-size: 18px;
}
.email-text span {
  width: 100%;
float: left;
margin-top: 15px;
margin-right: 0;
line-height: 22px;
}
.mobile-header {
  padding: 15px;
}
.navigation-menu .navbar-nav li a {
  font-size: 14px;
  padding: 10px 15px !important;
}
.navigation-menu .navbar-nav li .sub-menu li a {
padding: 10px 15px 10px 25px !important;
}
#header .btn-hope {
  padding: 14px 18px 11px 18px;
  margin-left: 5px;
}
.btn-hope, #header .btn-hope {
  font-size: 14px;
}
#header .btn-hope {
  margin-right: 15px;
  }
  .search-box .search-icon {
    right: 0;
  }
  .footer-top {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .big-text {
    font-size: 35px;
    margin-left: 0;
  }
  .navigation-menu .arrow-down {
    right: 5px;
  }
  .footer-top {
    margin-top: -45px;
  }
  .copyright-inner p span {
    width: 100%;
    float: left;
  }
  h2 {
    font-size: 30px;
  }
  .h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 28px;
  }
  .h3 {
    font-size: 28px !important;
  }
}
